// Define variables for your color scheme

// Basic Colors
$dark-white: #e1d7bc;
$dark-blue: #205374;
$dark-yellow: #ffc83a;
$dark-orange: #E67E22;
$logo-color:#1c75bc;

//Background Colors
$bg-white: #fffbec;
$bg-yellow:#FFEEBB;
$bg-green:#9be8d8;
$bg-blue:#99dbf6;
