.dashboard-header {
  margin: 15px;
}

.dashboard-container {
  padding: 15px;
  margin-top: 300px;
  position: relative;
  bottom: 100px;
  background-color:#ffeebb;
  height: auto;
  border-radius: 20px 20px;
}

.tabcontent-dashboard {
  display: none;
  padding: 6px 12px;
  background-color: #ffffff;
}

.tabcontent-dashboard.active {
  display: block;
  padding: 6px 12px;
  background-color: #ffffff;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
}

.tab {
  display: flex;
  background-color: #ffeebb;
}

.tablinks {
  background-color: #ffeebb;
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: underline;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.active {
  background-color: white;
  text-decoration-color: #1c75bc;
  text-decoration-thickness: 4px;
}
