.dashboard-header {
  margin: 15px;
}

.dashboard-container {
  padding: 15px;
  margin-top: 300px;
  position: relative;
  bottom: 100px;
  background-color:#ffeebb;
  height: auto;
  border-radius: 20px 20px;
  box-shadow: 9px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tabcontent-dashboard {
  display: none;
  padding: 6px 12px;
  background-color: #ffeebb;

}

.tabcontent-dashboard.active {
  display: block;
  padding: 6px 12px;
  background-color: #ffeebb;
}

.tab {
  display: flex;
  background-color: #ffeebb;
  border-bottom: 1px solid #ccc;
}

.tablinks {
  background-color: #ffeebb;
  width: 130px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-decoration: underline;
}

.active {
  color: #1c75bc;
}


