.hero-text{
  position: absolute;
  top:20%;
  left: 40%;
  h1{
    font-size: 60px;
  }
  h3{
    margin-left: 17px;
  }
  p{
    margin-left: 25px;
  }
}


.background-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("home-background.png") center no-repeat;
  background-size: cover;
}


// ---------------------SearchBar-----------------------
//------------------------------------------------------


body {
  justify-content: center;
  align-items: center;

}

.text1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text1 h1 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Shippori Mincho B1', serif;
}

.text2 {
  text-align: center;
  color: #5e94c1;
}

.form-control {
  height: 50px;
  width: 400px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  position: relative;
}

.btn1 {
  align-items: center;
  position: absolute;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: $dark-yellow;
  border: none;
}

.input-field {
  position: relative;
  margin-left: 15px;
}

.input-field button {
  position: relative;
  /* top: -52px; */
  /* right: 133px; */
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  bottom: 47px;
  left: 352px;
}

.card .icons {
  position: absolute;
  bottom: -340px;
  left: 40%;
  transition: all 0.5s;
}

.card:hover .icons {
  bottom: 40px;
}

.card .icons span {
  font-size: 23px;
  color: white;
}


// ---------------------SearchBar End--------------------
//-------------------------------------------------------


/* -------------------------ABOUT-----------------------
/* ----------------------------------------------------- */

#about {
  margin-top: $margin;
  background-color: transparent;
  height: 100vh;
  display: flex;
}

.left-content,
.right-content {
  width: 50%; /* Each child occupies 50% of the container width */
  height: 100%; /* Each child occupies full container height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.image-card {
  width: 100%; /* The image card occupies 50% of the left content width */
  height: 100%; /* The image card occupies 50% of the left content height */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.surf-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.surf-app-paragraph {
  font-size: 30px;
  max-width: 500px; /* Set the desired maximum width for the paragraph */
  text-align: center; /* Center-align the paragraph text */
}

.svg{
  width: 100px;
  height: auto;
}
/* ----------------------END ABOUT---------------------- */
/* ----------------------------------------------------- */


/* -------------------------MEDIA------------------------
/* ------------------------------------------------------ */

/* Mobile Phones */
@media only screen and (max-width: 767px) {
  /* CSS for mobile phones */

  //----------------HOME SECTION MOBILE---------------
  //--------------------------------------------------
  .hero-text{
    position: absolute;
    top:28%;
    left: 0;
    h1{
      margin-left: 7px;
      font-size: 40px;
    }
    h3{
      font-size: 1rem;
      margin-left: 18px;
    }
    p{
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .form-control{
    width: 250px;
  }

  .input-field button{
    left:202px;
  }


  .background-image{
    height: 80vh;
  }

  //----------------ABOUT SECTION MOBILE---------------
  //---------------------------------------------------
  #about {
    display: block;
  }

  .left-content,
  .right-content {
  width: 100%; /* Each child occupies 50% of the container width */
  height: 100%; /* Each child occupies full container height */
  display: block;
}
}

/* Tablets and Smaller Laptops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS for tablets and smaller laptops */


}

/* Desktops and Larger Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS for desktops and larger laptops */


}

/* Large Desktops and High-Resolution Monitors */
@media only screen and (min-width: 1200px) {
  /* CSS for large desktops and high-resolution monitors */


}
/* ----------------------END MEDIA---------------------- */
/* ----------------------------------------------------- */
