// // HOMEPAGE (index)
@import "home";
@import "show";
@import "dashboard";

// layout and containers
.left-container-index {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.right-container-index {

}

.main-container-index {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 15%;
}

// Searchbar
.searchbar-index button {
  position: relative;
  /* top: -52px; */
  /* right: 133px; */
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  bottom: 47px;
  left: -209px;
}
