// // HOMEPAGE (index)
@import "home";
@import "show";
@import "dashboard";

.beach-index-content {
  margin-top: 10%;
  display: flex;
}

.beach-cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.beach-card {
  border-radius: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-img-top {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.beach-card-body {
  text-align: left;
  padding: 16px;
  background-color: white;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;

}

#map {
  padding: 16px;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
}
