// BEACH SHOWPAGE

.header-image-container {
  background-color: blue;
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -16px;
}

.header-image {

}

.header-text-container {
  background-color: red;
  padding: 8px;
  border-radius: 16px 16px 0px 0px;
  // box-shadow: -4px 4px 8px rgba(0,0,0,0.2);
}
