
<nav class="nav-bot ">
  <% if request.path != "/" %>
    <a class="navbar-brand icons" href="/"><i class="fa-solid fa-house"></i></a>
  <% end %>
  <% if request.path != "/dashboard" %>
    <a class="navbar-brand icons" href="/dashboard"><i class="fa-solid fa-table-cells-large"></i></a>
  <% end %>
  <% if controller_name != "beaches" %>
    <a class="navbar-brand icons" href="/beaches"><i class="fa-solid fa-magnifying-glass"></i></a>
  <% end %>
  <% if user_signed_in? %>
    <% if request.path != "/profiles/#{current_user.profile.id}" %>
    <a class="navbar-brand icons" href="/profiles/<%= current_user.profile.id %>"><i class="fa-regular fa-id-card"></i></a>
    <% end %>
  <% end %>
  </div>
</nav>
