<div class="function-welcome">
  <div class="welcome-container red">
    <p class="display-1">waveshare is here</p>
  </div>
  <div class="welcome-container green">
    <p class="display-1">waveshare is cool</p>
  </div>
  <div class="welcome-container blue">
    <p class="display-1">waveshare is now</p>
  </div>
</div>
