.basic-button{
  background-color: $dark-yellow;
  border-radius: 30px;
  box-shadow: 9px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 85px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  size: relative ;
}

.button-avatar{
  width: auto;
  height: 90%;
  border-radius: 50%;
  padding-top: 5px;
}

.button-arrow-right {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: $dark-yellow;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  bottom: 47px;
}
