.mapboxgl-popup {
  border-radius: 10px;
  transition: transform 0.3s;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-popup-content a {
  text-decoration: none;
  color: black;
}

.mapboxgl-popup-content:hover {
  background-color: #e1eaf3;
}
