.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

//Bottom Nav
.nav-bot {
  width:fit-content;
  border-radius: 20px;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 228, 196,0.5);
  height: 60px;
  font-size:1cm;
  justify-content: space-between;
  padding-left: 10px;
  color: rgba(20, 20, 20, 0.5);
  z-index: 9999;
}

.centered {
  justify-content: center;
}

.navbar-brand{
  align-items: center;

}

.icons:hover{
  color: rgba(20, 20, 20, 1);
  background-color: rgba(255, 228, 196,0.9);
  border-radius: 6px;
}

.icons {
  box-shadow:black
}

.searchbox-home {
    display: flex;
    flex-grow: 1;
    margin: 4%;
    height: 64%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  .navbar-text {
    font-family: 'Bowlby One SC', cursive;
    font-size: larger;
  }
