// Rating stars index
.rating-container {
  display: flex;
  align-items: center;
}



//---------------REVIEWS SECTION--------------------
//--------------------------------------------------
// Dashboard Reviews
.review-card-dashboard {
  background-color: #ffeebb;
  border-radius: 16px;
  padding: 10px;
  margin: 1.1em;
  border: 1px solid #1c75bc;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: center;
  align-items: center;
  grid-template-areas:
  'review-avatar review-header review-rating'
  'review-user review-content .'
  'review-date review-content deletion'
  ;
}

.review-card-dashboard .avatar-large {
  grid-area: review-avatar;
}

.review-card-dashboard .review-header {
  grid-area: review-header;
}

.review-card-dashboard .review-rating {
  display: flex;
  padding: 16px;
  justify-content: end;
  grid-area: review-rating;
}

.review-card-dashboard .review-date {
  grid-area: review-date;
  opacity: 0.5;
}

.review-card-dashboard .review-user {
  grid-area: review-user;
}

.review-card-dashboard .review-deletion {
  display: flex;
  padding: 16px;
  justify-content: end;
  grid-area: deletion;
}

.review-card-dashboard .review-content {
  grid-area: review-content;
}

.margin-20{
  margin: 20px;
}

#avatar-reviews{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-card{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;

}

.review-title{

  padding: 20px;
  .join-button-div{
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .join-button{
    width: 131px;

    p{
      margin-bottom: 0;
    }
  }
}
.review-user-info{
  width: 80%;
}
//---------------END REVIEWS SECTION----------------
//--------------------------•••---------------------
