.card-product {
  overflow: hidden;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to left, rgb(144, 196, 226) , rgb(255, 255, 255));
  box-shadow: 0 0 15px rgba(0,0,0,0.2) inset;
  display: flex;
  align-items: center;
}

.description {
  border-bottom: 1px solid rgba(255, 0, 0, 0.1);
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1;
  opacity: .7;
  margin-top: 8px;
  margin-bottom: 8px;
}


.card-product {
  padding: 10px;
}

.card-product-infos {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}
