.card-product {
  overflow: hidden;
  border-top:  1px solid rgba(255, 0, 0, 0.1);
  min-height: 180px;
  width: 100%;
  align-items: left;
  padding: 2px;
}

.information {
  align-items: center;
  margin-left: 100px;
  border: 1px solid rgba(255, 0, 0, 0.1);
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-product i {
  font-size: 25px;
  line-height: 1;
  opacity: .7;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5%;
}


.card-product {
  padding: 5px;
}

.card-product-infos {
  padding: 5px;
  display: flex;
}
