.card-product {
  overflow: hidden;
  border-top:  1px solid rgba(255, 0, 0, 0.1);
  min-height: 180px;
  width: 100%;
  align-items: left;
  padding: 2px;
}

.weather-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: %;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 20px;
  text-align: center;
  // line-height: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-bottom: 8px;
}

.card-product i {
  font-size: 25px;
  // line-height: 1;
  // margin-top: 8px;
  // margin-bottom: 8px;
  // margin-right: 5%;
}

.weather-info{
  width: 40%;
}

.card-product {
  padding: 5px;
}

.paragraph-weather {
  display: flex;
  width: 60%;
}
.details-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.card-product-infos {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
