// flatpickr
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/spacings";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'events_show';
@import 'beach_show';
@import 'pages/_home';

// forms
@import "star-rating.js/dist/star-rating.css";




// ---------------------Headings--------------------
//--------------------------------------------------

h1 {
  font-family: $headers-font;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-family: $headers-font;
  font-size: 1.8rem;
  font-weight: 550;
}

h3 {
  font-family: $headers-font;
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-family: $headers-font;
  font-size: 1.4rem;
  font-weight: 300;
}

// ---------------------Headings End--------------------
//------------------------------------------------------


.card-body{
  min-height: 250px;
}

  div.relative {
  position: relative;
  bottom: 200px;
  left: 80px;
}

.flat-show-card{
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.beach-show{
  height: 10%;
}

a {
  text-decoration: none;
  font-family: $body-font;
}


li{
  list-style: none;
}

//-------------------NAVBAR MARGIN BOTTOM------------------------
//---------------------------------------------------------------

.margin-top{
  margin: 7%;
}
//-------------------NAVBAR MARGIN BOTTOM END--------------------
//---------------------------------------------------------------
