// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// forms
@import "star-rating.js/dist/star-rating.css";

.beach-image {
  max-height: 200px;
}

.image-header {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: red;
  background-image: url("broken-beach.jpg");

  p {
    text-align: center;
    margin: auto;
  }

}

.text-header {
  border: 3px solid black;
  max-height: 200px;

  .display-1 {
    font-size: 32px;
    padding: 8px;
  }

  .display-2 {
    font-size: 24px;
    padding: 8px;
    margin-top: -35px;
  }
}

.text-header-bottom {
  border: 3px solid black;
  height: 200px;
}

.rv {
  border: 3px solid black;
}

.text-header2 {
  border: 3px solid black;
}
