.event-card-title {
  font-family: 'Dongle', sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.event-card-text {
  font-family: 'Dongle', sans-serif;
  font-size: x-large;
}

.event-card-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: small;
}

.event-show-action-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: small;
  margin-bottom: 10px;
}

.event-show-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: large;
  margin-left: 25%;
}

.event-button-section {
  display: flex;
  text-align: center;
}

.attend-seemore {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.beaches-margin {
  margin-bottom: 9vh;
}

.beaches-tab-margin {
  margin-bottom: 5px;
}

.header-address-margin {
  margin-bottom: 2vh;
}

.events-container {
  padding-top: 0rem !important;
  border: none;
}


.events-card {
  border-radius: 3%;
  padding: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.events-content-card {
}

.events-card-body {
  background-color: white;
  padding: 1rem;
  border-radius: 3%;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2) inset;
}


.event-image-rounded {
  border-radius: 3%;
  width: 100%;
  height: 100%;
}

.review-card {
  margin-bottom: 8px;
  padding: 15px;
  border-bottom: 1px solid $black;
  background-color: $white;
}


