.event-card-title {
  font-family: 'Dongle', sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.event-card-text {
  font-family: 'Dongle', sans-serif;
  font-size: x-large;
}

.event-card-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: small;
}

.event-show-action-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: small;
  margin-bottom: 10px;
}

.event-show-buttons {
  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: large;
  margin-left: 25%;
}

.event-button-section {
  display: flex;
  text-align: center;
}

.attend-seemore {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
}

.beaches-margin {
  margin-bottom: 9vh;
}

.beaches-tab-margin {
  margin-bottom: 5px;
}

.header-address-margin {
  margin-bottom: 2vh;
}
