.event-image {
  width: 90%;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.event-description {
  margin-bottom: 20px;
  margin-left: 4cm;

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.actions .btn {
  margin-right: 10px;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

#c  {
  margin-top: calc(21vh - 24px);
  border-radius: 16px 16px 0px 0px;
  background: white;
  height: 100%;
  min-height: 100%;
  z-index: 1000;
}

.header-info {
  font-size: 12px;
}

.attendees-avatar {
  border: 2px solid goldenrod;
  box-shadow: 2px 2px 0px rgba(124, 123, 123, 0.4);
  height: 32px;
  padding: 2px;
  width: 32px;
  border-radius: 50%;
}

.attendees-avatar-container {
  margin-bottom: -8px;
}

.attendees-counter-container {
  margin-top: -13px;
  /* margin-left: 8px; */
  z-index: 1;
  position: absolute;
}

.header-info {
  padding-left: 8px;
  padding-top: 12px;
  font-family: 'Dongle', sans-serif;
  font-size: 20px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), white 48%);
  /* position: fixed; */
  z-index: 1;

}

.function-imagemap {
  position: relative;
  // display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-bottom: 16px;
}

.header-footer-links {
  height: 8vh;
  position: absolute;
  bottom: 0;
  /* top: 0; */
  width: 100%;
  list-style-type: none;
  margin-bottom: 25px;
  padding: 8px;
  /* overflow: hidden; */
  /* z-index: 200000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-footer-button {
  text-align: center;
  font-size: 16px;
  margin: 8px 8px;
  opacity: .6;
  transition: 0.3s;
  color: #212529;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  padding-top: 2px;
  /* stroke: brown; */
  /* stroke-linecap: round; */
  padding-bottom: 2px;
  /* stroke-width: 37px; */
  /* text-shadow: 0 0 4px #000; */
  /* mix-blend-mode: overlay; */
}


.header-footer-button:hover {
  opacity: 1;
  color: #ccc;
}

// .button_to-texdecnone {
//   text-decoration: none;
// }

.hidden {
  visibility: hidden;
}

.viewmap {
  z-index: 999999999;
}

.inFront {
  pointer-events: none;
  position: absolute;
  top: 25px; left: 25px;
  right: 25px; height: 150px;
}

.inFront > * {
  pointer-events: auto;
}

a {
  text-decoration: none;
  color: black;
}
