<div class="function-map">
  <div class="map-home-container">
    <div class="map-home">Map</div>
  </div>
</div>

<div id="function-search">
  <div class="search-home-container">
    <div class="searchbox-container">
      <div class="searchbox-home">Search</div>
    </div>
    <div class="searchbox-filters-container">
      <div class="searchbox-filters">filter 1</div>
      <div class="searchbox-filters">filter 2</div>
      <div class="searchbox-filters">filter 3</div>
      <div class="searchbox-filters">filter 4</div>
      <div class="searchbox-filters">filter 5</div>
      <div class="searchbox-filters">filter 6</div>
    </div>
  </div>
</div>
<div class="function-cardsgrid">
  <div class="cardsgrid-header-container">
    <h3 class="cardsgrid-header">Beaches and events near you</h3>
  </div>
  <div class="cards-home-container">
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
    <div class="card-home">card</div>
  </div>
</div>

<script>
window.onscroll = function() {myFunction()};

var functionSearch = document.getElementById("function-search");
var sticky = functionSearch.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    functionSearch.classList.add("sticky")
    // functionSearch.classList.remove("curveanimationreverse");
    functionSearch.classList.add("curveanimation")
  } else {
    functionSearch.classList.remove("sticky");
    functionSearch.classList.remove("curveanimation");
    // functionSearch.classList.add("curveanimationreverse");
  }
}
</script>
