<p style="color: green"><%= notice %></p>

    <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
          Rio
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/berlin)">
          Berlin
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/shanghai)">
          Shanghai
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/barcelona)">
          Barcelona
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/paris)">
          Paris
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/london)">
          London
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/melbourne)">
          Melbourne
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/marseille)">
          Marseille
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/buenos-aires)">
          Buenos Aires
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/bali)">
          Bali
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tel-aviv)">
          Tel Aviv
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/kyoto)">
          Kyoto
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/copenhagen)">
          Copenhagen
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lisbon)">
          Lisbon
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/montreal)">
          Montreal
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/nantes)">
          Nantes
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/milan)">
          Milan
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/tokyo)">
          Tokyo
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/amsterdam)">
          Amsterdam
        </div>

        <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/lyon)">
          Lyon
        </div>
      </div>


      <img id="map" src='https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png'>
    </div>

  </body>
