<div class="function-map">
  <div class="map-home-container">
    <div class="map-home">
<%# map code goes here %>
       <div  id="map" style="width: 110%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<div id="function-search">
  <div class="search-home-container">
    <div class="searchbox-container">
      <div class="searchbox-home">Search</div>
    </div>
    </div>
</div>
<div class="function-cardsgrid">
  <div class="cardsgrid-header-container">
    <h3 class="cardsgrid-header">Beaches and events near you</h3>
  </div>
  <div class="cards-home-container">
    <%= render "shared/home_cards", class: "cards-home" %>
  </div>
</div>

<script>
window.onscroll = function() {myFunction()};

var functionSearch = document.getElementById("function-search");
var sticky = functionSearch.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    functionSearch.classList.add("sticky")
    // functionSearch.classList.remove("curveanimationreverse");
    functionSearch.classList.add("curveanimation")
  } else {
    functionSearch.classList.remove("sticky");
    functionSearch.classList.remove("curveanimation");
    // functionSearch.classList.add("curveanimationreverse");
  }
}
</script>
