<div class="header-image-container">
  <div class="header-image">image</div>
</div>

<div class="header-text-container">
  <div class="header-text">
    <div>Title: name of beach</div>
    <div>description</div>
    <div>address</div>
  </div>
  <div class="header-text-reviews-container">
    <div>average rating</div>
    <div>reviews counter/link</div>
  </div>
</div>
<div>beach info</div>
<div>events</div>
