<div>
  <div class="image-header">
      <p> view map </p>
  </div>
  <div class="text-header">
    <p class="display-1"><%= @beach.name %></p>
    <p class="display-2"><%= @beach.description %></p>
    <div class="text-header-bottom">
      <div class="review">
      </div>
      <div class="address">
      </div>
    </div>
  </div>
</div>
