<div class="container">
  <div class="background-image-show">
    <img src="https://images.unsplash.com/photo-1537519646099-335112f03225?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" alt="">
    <div class="foreground-panel">
      <h2>Beach name</h2>
      <p>Beach Description</p>
    </div>
  </div>
</div>
